.container{
  display: flex;
  gap: 1rem;

  position: absolute;
  bottom: 1rem;
}

.row{
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 1.4rem;
  width: 18rem;
  padding: 1rem 0;
}

button{
  padding: 2rem;
}
